@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600; 700; 800; 900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing:
border-box;
font-family: 'Poppins', sans-serif;
}

.body {
background:url('images/bg_ebrahimjoy.jpg') no-repeat;
color: #ededed;
background-size: cover;
background-position: center right;	
background-attachment: fixed;
}

.header {
width: 100%;
padding: 26px;
text-align: center;
z-index: 100;
}

.logo {
	font-size: 10px;
	color: ededed;
	text-decoration: none;
	font-weight: 600;
}

.navbar a {
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
	color: #ededed;
}

.navbar a:hover {
	color: #00abf0;
}
.home {
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.home-content {
	max-width: 600px;
}

.home-content h1 {
	font-size: 48;
	font-weight: 700;
	margin: 0;

}

.home-content h3 {
	font-size: 28;
	font-weight: 700;
	color: #00abf0;
	margin: 0;

}

.home-content p {
	font-size: 16px;
	padding: 20px 0 40px;
	line-height: 1.2;
}

.home-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: 450px;
	height: 50px;

}

.btn-box a {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 100%;
	background: #00abf0;
	border: 2px solid #00abf0;
	border-radius: 8px;
	font-size: 16px;
	color: #081b29;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.btn-box a:hover {
	color: #00abf0;
}

.btn-box a:nth-child(2){
	background: transparent;
	color: #00abf0;
}

.btn-box a:nth-child(2):hover {
	color: #081b29;
}

.btn-box a:nth-child(2)::before{
	background: #00abf0;
}

.btn-box a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #081b29;
	z-index: -1;
	transition: .5s;
}

.btn-box a:hover::before{
	width: 100%;
}

.footer {
	position: absolute;
	bottom: 40px;
	width: 220px;

	justify-content: space-between;

}

.footer a {
	position: relative;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	
}

.footer a:hover {
	color: #081b29;
}

.footer a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #00abf0;
	z-index: -1;
	transition: .5s;

}

.footer a:hover::before{
	width: 100%;
}



/* -----------------------------------------about-----------------------------------------  */

.about {

	display: flex;
	align-items: center;
	padding: 0 10%;
}

.about-content {
	max-width: 70%;
}

.about-content p {
	font-size: 16px;
	line-height: 1.2;

}

/* -----------------------------------------project-----------------------------------------  */

.project {
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.project-content {
	max-width: 70%;
}

.project-content p {
	font-size: 16px;
	line-height: 1.2;

}






/* -----------------------------------------Contact-----------------------------------------  */

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.title
{
    font-size: 50px;
    font-weight: bold;
    padding: 1.5% 0;
}

.title-info
{
	padding-bottom: 2%;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2%;
}

.input-group, .textarea-group
{
    padding: 1% 0;
}

input, textarea
{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 1.5%;
    font-size: 20px;
}

input:focus, textarea:focus
{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #69f0ae;
}

input::placeholder, textarea::placeholder
{
    color: transparent;
}

label
{
    color: #757575;
    position: relative;
    left: 0.5em;
    top: -2em;
	cursor: auto;
    transition: 0.3s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label
{
    top: -4em;
    color: #69f0ae;
    font-size: 15px;
}

textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
{
    top: -10.5em;
    color: #69f0ae;
    font-size: 15px;
}

.button-div
{
    display: flex;
    justify-content: center;
}

button
{
    padding: 2%;
    width: 50%;
    border: 1px solid;
    border-color: #212121;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    background-color: black;
    color: inherit;
    box-shadow: 0 0 10px #212121;
}

button:hover
{
    background-color: #424242;
    color: #69f0ae;
    cursor: pointer;
}


/* Media queries */

@media screen and (max-width: 1200px)
{
    .form
    {
        width: 70%;
    }
}

@media screen and (max-width: 680px)
{
    .form
    {
		width: 90%;
    }
}

@media screen and (max-width: 500px)
{
	.title
	{
		font-size: 40px;
		padding-top: 6%;
	}

	.title-info
	{
		font-size: 13px;
	}
	
	.form
	{
		padding: 6% 4%;
		padding-top: 15%;
	}

	.input-group, .textarea-group
    {
		padding: 3% 0;
	}
	
	input, textarea
	{
		font-size: 15px;
	}

	input:focus ~ label, input:not(:placeholder-shown) ~ label
	{
		top: -3.5em;
		left: 0.1em;
	}
	
	textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
	{
		top: -8.5em;
		left: 0.2em;
    }
    
    button
    {
        font-size: 15px;
    }
}








/* Footer Top  */
.footer-top {
	height: 100px;
	width: 100%;
}


/* Footer  */
footer {
	position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
	background-color: #121010;
	z-index: 100;
}
.footer-soicail-button{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
    align-items: center;
    height: 100px;


}
.footer-soicail-button li a{
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #00abf0;
	border-radius: 50%;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
	display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 10px;


}





































