@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600; 700; 800; 900&display=swap');
}
@import images/

*{
margin: 0;
padding: 0;
box-sizing:
border-box;
font-family: 'Poppins', sans-serif;
}

.body {
background:url('../images/bg_ebrahimjoy.jpg') no-repeat;
color: #ededed;
background-size: cover;
background-position: center;	
}

.header {
position: fixed;
top:0;
left: 0;
width: 100%;
padding: 26px;
text-align: center;
z-index: 100;
}

.logo {
	font-size: 10px;
	color: ededed;
	text-decoration: none;
	font-weight: 600;
}

.navbar a {
	font-size: 16px;
	color: #ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
}

.navbar a:hover,
.navbar a:active
{

	color: #00abf0;

}

.experience {
/*	height: 100vh;*/
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.experience-content {
/*	max-width: 600px;*/
	margin: 0;
}

.experience-content h1 {
	font-size: 20px;
	font-weight: 700;
	margin: 0;

}

.experience-content h3 {
	font-size: 36px;
	font-weight: 700;
	color: #00abf0;

}

.experience-content p {
	font-size: 16px;
	padding: 20px 0 40px;
	line-height: 1.2;
	margin: 0;
}




.home-sci {
	position: fixed;
	bottom: 40px;
	width: 220px;
}

.home-sci a {
	position: relative;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #00abf0;
	border-radius: 50%;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.home-sci a:hover {
	color: #081b29;
}

.home-sci a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #00abf0;
	z-index: -1;
	transition: .5s;

}

.home-sci a:hover::before{
	width: 100%;
}

.app-preview-imag {
	border:2px solid #00abf0;
    border-radius: 10px;
    width:700px;
    margin-top: 20px;
    background-position: center;
    object-fit: cover;
}

.app-preview-row-container{
	display: flex;
}




































